.container {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    background-color: #343a40;
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    display: flex;
}