.footer {
    margin-top: 100px;
    height: 100px;
    background-color: #343a40;
    color: white;
    clear: both;
    position: relative;

}

.containter {
    height: 100%;
}

p {
    padding-top: 40px;
    margin: 0;
    font-size: 8px;
}