.quick-search-box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #343a40 ;
}

.quick-search-box h1 {
    color: white;
    font-size: 24px;
}

.select-box {
    display: flex;
    color: white;
}